body{
    background: url('../img/нг\ фон.jpg') no-repeat;
    background-size: 100%;
    font-family: 'Secular One', sans-serif;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    

    &__left{
        background: #FF0000;
        font-size: 30px;
        padding: 10px 40px;
        margin-top: 20px;
        border-radius: 30px;
        border: 5px solid #00FF00;
        transition: .3s;
        color: #E6E6FA;
        text-decoration: none;
    }

    &__left:hover{
        box-shadow: inset 0px 0px 15px 5px black;       
        color: #929292;
    }

    &__right{
        background: #FF0000;
        font-size: 30px;
        padding: 10px 40px;
        margin-top: 20px;
        border-radius: 30px;
        border: 5px solid #00FF00;
        transition: .3s;
        color: #E6E6FA;
        text-decoration: none;
    }
    &__right:hover{
        box-shadow: inset 0px 0px 15px 5px black;       
        color: #929292;
    }
}


.content{
    padding: 50px 0 0 0;
    max-width: 1000px;
    margin: 0 auto; 
}

.tabs{

    &__items{
        display: flex;
        flex: 1 0 auto;
    }
    

    &__item{
        flex: 0 1 25%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
    }

    &__item span{
        z-index: 2;
    }

    &__block{
        position: relative;
        //padding: 20px;
        //font-size: 18px;
        //line-height: 24px;

        color: #E6E6FA;
        font-size: 40px;
        font-weight: 700;
        background: #FF0000;
        padding: 20px;
        border-radius: 30px;
        border: 5px solid #00FF00;
        box-shadow: inset 0px 0px 15px 5px black;
        display: none;
        text-align: center;
    }

    &__block::before{
        content: '';
        height: 50px;
        width: 25%;
        position: absolute;
        top: -60px;
         
    }

    &__block:target{
        display: block;
    }

    &__block:nth-child(1)::before{
        left: 0;
        background: #FF0000;     
        border-radius: 30px;
        border: 5px solid #00FF00;
        box-shadow: inset 0px 0px 15px 5px black;
    }
    &__block:nth-child(2)::before{
        left: 25%;
        background: #FF0000;     
        border-radius: 30px;
        border: 5px solid #00FF00;
        box-shadow: inset 0px 0px 15px 5px black;
    }
    &__block:nth-child(3)::before{
        left: 50%;
        background: #FF0000;     
        border-radius: 30px;
        border: 5px solid #00FF00;
        box-shadow: inset 0px 0px 15px 5px black;
    }
    &__block:nth-child(4)::before{
        right: 0;
        background: #FF0000;     
        border-radius: 30px;
        border: 5px solid #00FF00;
        box-shadow: inset 0px 0px 15px 5px black;
    }
}

.footer{
    display: flex;
    //flex-direction: column;
    padding: 10px 0 0 0;
}

.qu1{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    padding: 0 5px;
}


#cheked1, #cheked2, #cheked3, #cheked4{
    font-size: 15px;
    border: 2px solid #00FF00;
    border-radius: 5px;
    transition: .4s;
    text-align: center;
    font-weight: 700;
    margin: 0 0 5px 0;
    
}


#cheked1:focus, #cheked2:focus, #cheked3:focus, #cheked4:focus{
    border: 5px solid #00FF00;
    outline: none;
    border-radius: 10px;
    background: rgb(255, 43, 43);
    color: white;
    
}

#btn1, #btn2, #btn3, #btn4{
    background: rgb(255, 255, 255);
    border: none;
    padding: 5px 0;
    border-radius: 10px;
    font-weight: 700;
    transition: .3s;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover{
    background: rgb(216, 255, 130);
    

    
}

