.header {
    background: url("../img/bg_2.png") -60px 0 no-repeat;
    height: 800px;




    &__menu {
        display: flex;
        justify-content: center;
        padding: 35px 0 0 0;
    }

    &__menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menu ul li {
        margin: 0 40px;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 700;


    }

    &__menu a {
        color: #4d4959;
        font-family: 'Lato', sans-serif;
    }

    &__logo {
        margin: 0 64px;
    }
}




.setting {
    background-color: #f7f7f7;

    &__container {
        max-width: 1080px;
        margin: 0 auto;
    }

    &__content {
        font-family: 'Lato', sans-serif;
        padding: 117px 0 142px 0;

    }

    &__logo {
        display: flex;
        justify-content: center;
        padding: 0 0 35px 0;
    }

    &__title {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #353738;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align: center;
        padding: 0 0 35px 0;

    }

    &__text {
        font-size: 18px;
        line-height: 34px;
        color: #848789;
        text-align: center;

    }

}



.rama {

    font-family: 'Lato', sans-serif;


    &__content {
        display: flex;

    }



    &__img1 {
        width: 1067px;
        height: 600px;

        background: url('../img/block3_img1.png') 0 0 / 1067px 600px no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;

    }

  
    &__img__conteiner{
       // padding: 0 68px;
        padding: 25px 68px 64px 68px;
    }

    &__img2_2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img2 {
        width: 533px;
        height: 410px;
        background: url('../img/block3_img2.png') center / 533px 410px no-repeat;
        position: relative;
        z-index: 6;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__text{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #353738;
        text-align: center;
        padding: 26px 0;
    }

    &__subtext{
        font-size: 16px;
        line-height: 30px;
        color: #848789;
        text-align: justify;
        position: relative;
    }

    &__subtext::after{
        content: '';
        position: absolute;
        left: 44%;
        display: block;
        height: 1px;
        width: 50px;
        background-color:  rgba(53,55,56,0.2);    
        margin: 25px 0 0 0;  
    }


    &__img3 {
        width: 533px;
        height: 200px;
        background: url('../img/block3_img3.png') 0 0/ 533px 200px no-repeat;
        margin: -10px 0 0 0;
    }
}


.cep{

    font-family: 'Lato', sans-serif;

    &__content{
        display: flex;
    }

    &__images{
       // padding: 60px 68px 73px 68px;
    }

    &__img1{
        width: 534px;
        height: 410px;
        background: url('../img/block3_img2.png') 0 0/ 534px 410px no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 5;

        padding: 60px 68px 120px 68px;
        

    }

    &__img1_2{

    }

    &__title{
        padding: 30px 0 25px 0;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.2em;
        color: #353738;
    }

    &__subtitle{
        font-size: 16px;
        line-height: 29px;
        color: #848789;
        position: relative;
        text-align: justify;
    }

    &__subtitle::after{
        content: '';
        position: absolute;
        left: 44%;
        display: block;
        border: 1px solid rgba(53,55,56,0.2);
        height: 1px;
        width: 50px;
        margin: 40px 0 0 0;
       // background: rgba(53,55,56,0.2);

    }

    &__img2{
        margin: -10px 0 0 0;
        width: 534px;
        height: 200px;
        background: url('../img/block4_img2.png') 0 0 / 534px 200px no-repeat;
    }

    &__img3{
        width: 1067px;
        height: 600px;
        background: url('../img/block4_img3.png') 0 0 / 1067px 600px no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
        
    }


}